@model List<Tekno.MODEL.Entity.Category>
@{
    ViewBag.Title = "Alt Kategori Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            @ViewBag.Title
        </header>
        <div class="panel-body">

            <form role="form" method="post" action="/Admin/SubCategory/Add">
                <div class="form-group">
                    <label>Alt Kategori Adı</label>
                    <input type="text" class="form-control" name="Name" placeholder="Alt Kategori Adı Girin">
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    <textarea class="form-control" name="Description" placeholder="Açıklama Ekleyin"></textarea>
                </div>
                <div class="form-group">
                    <label>Üst Kategori Seçin</label>
                    <select name="CategoryID" class="form-control">
                        @foreach (var item in Model)
                        {
                            <option>Kategori Seçiniz</option>
                            <option value="@item.ID">@item.Name</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Ekle</button>
                <input type="button" class="btn btn-danger" value="Geri Dön" onclick="history.back()">

            </form>

        </div>
    </section>
</div>




